body{
    background: url("../img/text_amarillo1.jpg") repeat scroll 0 0 transparent;
    height: 100%;
}


/* RESET */



/* Estilo fuente */

.italic, p.italic, a.italic{
  font-style: italic;
}

/* Alinear */

.centrar_inline, p.centrar_inline, a.centrar_inline{
    text-align: center;
    width: 100%;
}

.centrar_contenido, p.centrar_contenido, a.centrar_contenido, .cont_interior p.centrar_contenido{
    text-align: center;
}

.text_centrado, p.text_centrado, .cont_interior p.text_centrado{
  text-align: center;
}

.midle{
  vertical-align: middle;
}

.float_left{
  float: left;  
}

.margin_left{
    margin-left: 3%;
}

.float_right{
  float: right;
}

/* Display */

.inline, a.inline{
  display:inline-block;
  zoom: 1; /* IE7 (hasLayout)*/
  *display: inline; /* IE */

}

.midle{
  vertical-align: middle;
}


/* RESET */



/*h1 {
    font-family: 'allerregular',sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-transform: capitalize;
}*/

/*---EFECTO CIRCULO---*/

.text_plan {
    font-size: 18px;
    padding-bottom: 5px;
}

.notificaciones_circulo {
    background-color: #FFA700;
    -moz-border-radius: 25px 25px 25px 25px; /* Firefox*/
    -ms-border-radius: 25px 25px 25px 25px; /* IE 8.*/
    -webkit-border-radius: 25px 25px 25px 25px; /* Safari,Chrome.*/
    border-radius: 25px 25px 25px 25px; /* El estándar.*/
    color: #333333;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

}

.cont_circuloefecto {
    height: 220px;
    margin: 0 auto;
    position: relative;
    width: 220px;
}

ol.lista_numerica {
}

.lista_numerica > li {
    font-size: 1em;
    line-height: normal;
}

.col-left50{
  width: 48%;
}

.fondo-negro {
    background-color: #000000;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    color: #fff;
    padding: 1em;
}

.fondo-negro p{
  color: #fff;
}

.text_centrado, p.text_centrado, .cont_interior p.text_centrado{
  text-align: center;
}

.con_cont50{
  min-width: 100%;



}

.bt_amarillo {
    border: none;
    background: none repeat scroll 0 0 #FFA300;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'SegoeUIRegular';
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0;
    padding: 0.6em 1em;
    text-align: center;
    transition: all 0.5s; 
    vertical-align: middle;
}

.bt_amarillo:hover{
  background-color:  #07523A;
  color: #fff;
}

.bt_punto{
  color: #000000;
}

.bt_punto span{
  -moz-border-radius: 25px 25px 25px 25px; /* Firefox*/
  -ms-border-radius: 25px 25px 25px 25px; /* IE 8.*/
  -webkit-border-radius: 25px 25px 25px 25px; /* Safari,Chrome.*/
  border-radius: 25px 25px 25px 25px; /* El estándar.*/
  background-color: #ffa700;
  height: 15px;
  vertical-align: top;
  margin-right: 10px;
  width: 15px;
  -webkit-transition:all 1s ease-out;  /* Chrome y Safari */
  -o-transition:all 1s ease-out;  /* Opera */
  -moz-transition:all 1s ease-out;  /* Mozilla Firefox */
  -ms-transition:all 1s ease-out;   /* Internet Explorer */
  transition:all 1s ease-out;  /* W3C */
}

.bt_punto:hover {
  color: #000000;
}

.bt_punto:hover span{
  background-color:  #07523A;
}

.inline, a.inline{
  display:inline-block;
  zoom: 1; /* IE7 (hasLayout)*/
  *display: inline; /* IE */
}

.margin-right{
  margin-right: 20px;
}

.margin-left{
  margin-left:20px;
}

.contenedor_miplan{
  height: auto;
  position: absolute;
  text-align: center;
  width: 100%;background-repeat: repeat-x;
  z-index: 999;
}

.circulo_miplan{
  background-color: #07523A;
  height: 340px;
  width: 340px;
  padding: 60px 50px 50px;

/*  -moz-border-radius: 200px 200px 200px 200px; 
  -ms-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px; */
  border-radius: 400px; 
  text-align: center;
  box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.circulo_miplan p{
  color: #fff;
    font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.bt_amarillomiplan{
  margin: 0 70px;
}

.pkilos {
  -moz-border-radius: 5px 5px 5px 5px; /* Firefox*/
  -ms-border-radius: 5px 5px 5px 5px; /* IE 8.*/
  -webkit-border-radius: 5px 5px 5px 5px; /* Safari,Chrome.*/
  border-radius: 5px 5px 5px 5px; /* El estándar.*/
  color: #FFFFFF;
  line-height: 23px;
  padding: 10px;
  vertical-align: middle;
}

.pkilos span{
  font-size: 30px;
}

.bg_naranja{
  background-color: #c83c01;
}

.bg_verde{
  background-color: #bfbb11;
}

.fondo-blanco{
  padding: 1em;
}

.compartir{
  width: auto;
}

.pull-left, .float_left{
  float: left;
}

.pull-right, .float_right{
  float: right;
}

.cont_plan{
  height: auto;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;


}

.contpunta_plan {
    background-position: right top;
    -moz-border-radius: 5px 0 0 5px; /* Firefox*/
    -ms-border-radius: 5px 0 0 5px; /* IE 8.*/
    -webkit-border-radius: 5px 0 0 5px; /* Safari,Chrome.*/
    border-radius: 5px 0 0 5px; /* El estándar.*/
    color: #FFFFFF;
    height: 50px;
    margin-right: 10px;
    padding-right: 20px;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    width: 30%;

    float: left;
}
.cont_plan p {
    vertical-align: middle;
    width: 68%;
}

.contpunta_planbg1{
  background-image: url(../img/bgpuntas/1.png);
}

.contpunta_planbg2{
  background-image: url(../img/bgpuntas/2.png);
}

.contpunta_planbg3{
  background-image: url(../img/bgpuntas/3.png);
}

.contpunta_planbg4{
  background-image: url(../img/bgpuntas/4.png);
}

.contpunta_planbg5{
  background-image: url(../img/bgpuntas/5.png);
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
}

.ch-info-wrap{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;

  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  top: 20px;
  left: 20px;
  background: #f9f9f9 url(../img/bg_circulo.jpg);
  box-shadow: 
    0 0 0 20px rgba(255,255,255,0.2), 
    inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
    
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ch-info .ch-info-back {
  -webkit-transform: rotate3d(0,1,0,180deg);
  -moz-transform: rotate3d(0,1,0,180deg);
  -o-transform: rotate3d(0,1,0,180deg);
  -ms-transform: rotate3d(0,1,0,180deg);
  transform: rotate3d(0,1,0,180deg);
  
  background: #000;
}

.ch-img-1 { 
  background-image: url(../img/10.jpg);
}

.ch-img-2 { 
  background-image: url(../images/11.jpg);
}

.ch-img-3 { 
  background-image: url(../images/12.jpg);
}

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 90px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
  display: block;
  color: #fff;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: #fff222;
  color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-wrap {
  box-shadow: 
    0 0 0 0 rgba(255,255,255,0.8), 
    inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -moz-transform: rotate3d(0,1,0,-180deg);
  -o-transform: rotate3d(0,1,0,-180deg);
  -ms-transform: rotate3d(0,1,0,-180deg);
  transform: rotate3d(0,1,0,-180deg);
}

.dietas-lista { max-width: 67%;
float: right;}

.separador-a { padding: 0 20px;
font-size: 18px;}


/*RUTINA*/

.cont_botonesrutina{
  text-align: center;
  width: 100%;
}

.bt_rituna {
    margin: 0 1%;
    width: 30%;
}