@media screen and (max-width:1170px){
  .cont_registrese{
    width: 95%;
  }
}


@media screen and (max-width:980px){

  body{
    overflow: hidden;
  }

  a.cerrar_emerlados {
    right: 5px;
    top: 50px;
  }
  nav.navint {
    display: none;
  }

  header.header-internas, footer, #menu_home{
    display: none;
  }

  #mobile-header{
    display: block;
  }

  .mask-left{
    padding: 30px;
  }

  .cont_registrese{
    margin: 30px auto 0;
    width: 95%;
  }

  .col-left50, .colm-left, .colm-right {
    margin-bottom: 20px;
    width: 100%;
  }

  .contactar-modal .col-left50{
    width: 45%;
  }

  .dd {
    width: 100%;
  }

  a.contactar {
    float: left;
    margin: 0;
  }

  form.filtro-directorio label {
    width: 100%;
  }

  .mask-left, .mask-right{
    margin-top: 60px;
  } 

  a.actualizar, a.contactar, a.articulo{
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
  }

  .cont_slider li .contimagenslider{
      margin-top: 50px;
    }

  .cont_slider li .cont_texto p.tit_slider, .cont_slider li .cont_texto p.subtit_slider{
    max-width: 95%;
  }

  .cont_slider li .cont_texto p.tit_slider{
    font-size: 24px;
  }

  .cont_slider li .cont_texto p.subtit_slider{
    font-size: 14px;
  }

  .contpunta_plan{
    margin-bottom: 15px;
    width: 100%;
  }

  .dietas-lista, .cont_plan p{
    max-width: 100%;
    width: 100%;
  }

  .bt_rituna {
    margin: 0 1% 15px;
    width: 100%;
  }


}

@media screen and (max-width:768px){

  .bx-controls-direction{
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
  }
  
  a.receta-descripcion img {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto;
  }

  a.receta-descripcion p{
    display: inline-block;
    width: 100%;
  }

}

@media screen and (max-width:630px){
  
  #minres {
    display: block;
  }

}
