
.main {
  width: 80%;
  margin: 0 auto;
}
.main-internas {
  width: 100%;
  height: 100%;
  margin: 12.5em auto 1em;
  padding: 2em;
  display: block;
  border-width: 0;
  background: none;
  position: relative;
  overflow: hidden;
  background: red;
}
.separador-vertical {
  width: 1px;
  float: left;
  height: 80%;
  background: rgba(150, 150, 150, 0.5);
  margin: 0px 20px 0;
  display: block;
}
.separador-vertical-2 {
  width: 0.1em;
  float: left;
  height: 99%;
  background: rgba(150, 150, 150, 0.5);
  margin: 0px 2em 0;
  display: block;
}
.space-top {
  margin: 0 0 0;
  clear: both;
}
.fondo-rayas {
  background: url("../img/fondo-main.png") repeat;
  height: 100%;
}
.left100 {
  margin: 0 0 0 4.5em;
}
.verde {
  background: #115740;
}
.amarillo {
  background: #ffa300;
}

.camarillo {
  color: #ffa300;
}
/*FORMS*/

form {
  width: 90%;
  margin: 0;
  padding: 0;
}
form.registrarse {
  width: 100%;
}
form input[type="text"] {
  min-width: 90%;
  height: 2.2em;
  color: #2c2a29;
  padding: 0em 1em 0;
  border-radius: 0 0.8em 0.8em 0;
  margin: 0 auto;
  border: thin solid #dddedc;
  transition: all 0.5s;
}

form.formulario {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 99999999;
 
}

form.formulario input[type="text"] {
width: 100%; 
border-radius: .4em; 
margin: 0 0 1em;
height: 2.3em;
border: thin solid #dddedc;
transition: all 0.5s;
padding: 0;
text-indent: 1em;
 color: #615f5a;
box-shadow: inset 0 -.1em .1em rgba(0,0,0,.3);
  transition: all .3s;
}

form.formulario textarea {
 min-width: 100%; 
 max-width: 100%; 
 min-height: 10em;
 max-height: 10em;
 border-radius: .4em; 
 margin: 0 0 1em;
 border: thin solid #dddedc;
  transition: all 0.5s;
  padding: .5em 0 0;
  text-indent: 1em;
   color: #615f5a;
  box-shadow: inset 0 -.1em .1em rgba(0,0,0,.3);
  transition: all .3s;
}

form.formulario input[type="text"]:focus, form.formulario input[type="file"]:focus {
  border: thin solid #c4c6c1;
  box-shadow: none;
  box-shadow: inset 0 -.1em .1em rgba(0,0,0,.1);
  outline: none;
}



form.formulario textarea:focus {
  border: thin solid #c4c6c1;
  box-shadow: none;
  box-shadow: inset 0 -.1em .1em rgba(0,0,0,.1);
   outline: none;
}

form.formulario textarea.hei50 { min-width: 100%; 
 max-width: 100%; 
 min-height: 5em;
 max-height: 5em;
 border-radius: .4em; 
 margin: 0 0 1em;
 border: thin solid #dddedc;
  transition: all 0.5s;
  padding: .5em 0 0;
  text-indent: 1em;
   color: #615f5a;
  box-shadow: inset 0 -.1em .1em rgba(0,0,0,.3);
  transition: all .3s;}

label {
  float: left;
  width: 39%;
  color: #615f5a;
  line-height: 2.2em;
  font-size: 1.4em;
  text-align: right;
}
input[type="text"].registrarse-input {
  min-width: 59%;
  height: 2.2em;
  color: #2c2a29;
  padding: 0em 1em 0;
  -webkit-border-radius: 0.8em;
  -moz-border-r5adius: 0.8em;
  border-radius: 0.8em;
  margin: 0 auto;
  float: right;
  border: thin solid #dddedc;
  transition: all 0.5s;
}
.input-prepend {
  width: 100%;
  padding: 0;
  margin: 0;
}
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 2.2em;
  min-width: 30px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
}
.icon-user, .icon-envelope {
  margin: 0.2em 0 0 0;
}
.icon-eye-open, .icon-remove-circle {
  margin: 0.1em 0 0 0;
}
form input[type="text"]:focus {
  border: thin solid #c4c6c1;
  box-shadow: none;
}
.ingreso-modal a.olvido {
  color: #115740;
  font-size: 1.2em;
  text-decoration: underline;
}
.ingreso-modal a.olvido:hover {
  color: #ffa300;
}
.ingreso-modal a.olvido:active {
  margin: 1px auto 0;
}
.ingreso-modal a.facebook {
  width: 141px;
  height: 31px;
  background: url("../img/sprite.png") -1.1em -28.9em no-repeat;
  margin: 0 1.5em 0 3.5em;
  cursor: pointer;
}
/*.ingreso-modal a.facebook:active {
 margin: 0 1.5em 0 3.5em;
}*/
.boton {
  font-family: 'SegoeUIRegular';
  background: #ffa300;
  transition: all 0.5s;
  color: white;
  height: 2.2em;
  display: inline-block;
  padding: 0 1.0em;
 *display: inline;
  margin-bottom: 0;
 *margin-left: .3em;
  font-size: 1.4em;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
 *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
 *zoom: 1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
.boton:hover {
  background: #115740;
}
.boton:active {
  margin-top: 0.1em;
}
a.boton {
  font-family: 'SegoeUIRegular';
  background: #ffa300;
  transition: all 0.5s;
  color: white;
  height: 2.2em;
  display: inline-block;
  padding: 0 1.0em;
 *display: inline;
  margin-bottom: 0;
 *margin-left: .3em;
  font-size: 1.4em;
  line-height: 2.2em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
 *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
 *zoom: 1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
a.boton:hover {
  background: #115740;
  color: white;
}
a.boton:active {
  margin-top: 0.1em;
}
form input[type="password"] {
  min-width: 90%;
  height: 2.2em;
  color: #2c2a29;
  padding: 0em 1em 0;
  -webkit-border-radius: 0 0.8em 0.8em 0;
  -moz-border-r5adius: 0 0.8em 0.8em 0;
  border-radius: 0 0.8em 0.8em 0;
  margin: 0 auto;
  border: thin solid #dddedc;
  transition: all 0.5s;
}
form input[type="password"]:focus {
  border: thin solid #c4c6c1;
  box-shadow: none;
}
/*FORMS*/

/*HEADER*/

header.header {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: block;
  top: 0;
  left: 0;
  font-family: 'allerregular';
  font-size: 1.4em;
  color: white;
  clear: both;
}
header.header a {
  color: white;
}
header.header a:hover {
  color: white;
  text-decoration: underline;
}
header.header a:nth-of-type(1)/*Logotipo*/ {
  background: url("../img/logotipo-home.png") 0 0 no-repeat;
  width: 264px;
  height: 125px;
  position: relative;
  float: left;
  margin: 0 0 0 5%;
  padding: 0;
}
header.header span.separador {
  width: 3px;
  float: left;
  height: 46px;
  background: rgba(0, 0, 0, 0.2);
  border-right: 1px solid white;
  margin: 0 0 0;
  display: block;
}
header.header div.ingreso-cont {
  float: right;
  margin: 0 5% 0 0;
}
header.header div.bienvenida/*Bienvenida*/ {
  float: right;
  margin: 2.5em 1em 0 0;
  text-align: right;
}
header.header div.bienvenida span {
  font-weight: bold;
}
header.header div.ingreso {
  margin: 1.5em 0 0;
  float: right;
}
header.header div.ingreso a {
  margin: 0.7em 0 0 1em;
  float: left;
  display: block;
  width: 100px;
  height: 30px;
  line-height: 28px;
  text-align: center;
}
header.header div.ingreso a:nth-of-type(1)/*Ingresar*/ {
  background: url("../img/sprite.png") 0.5em 0.5em no-repeat;
}
header.header div.ingreso a:nth-of-type(2)/*Registrase*/ {
  background: url("../img/sprite.png") 0.1em -1.3em no-repeat;
}
header.header div.social {
  margin: 0.8em 0 0 1em;
  width: 79px;
  height: 63px;
  float: right;
  background: url("../img/sprite.png") 0em -3.5em no-repeat;
}
header.header div.social-internas {
  margin: 0.8em 5% 0 0;
  width: 79px;
  height: 63px;
  float: right;
  background: url("../img/sprite.png") 0em -347px no-repeat;
}
header.header div.social a, header div.social-internas a {
  width: 32px;
  height: 32px;
  display: block;
}
header.header div.social a:nth-of-type(1), header div.social-internas a:nth-of-type(1)/*facebook*/ {
  float: left;
  background: none;
}
header.header div.social a:nth-of-type(2), header div.social-internas a:nth-of-type(2)/*twitter*/ {
  float: right;
  background: none;
}
/*HEADER*/

/* HEADER INTERNAS */

header.header-internas {
  position: relative;
  width: 100%;
  z-index: 99;
  display: block;
  margin: 0 auto;
  background: white;
  height: 62px;
  z-index: 9999;
  font-size: 1.4em;
  color: white;
}
header.header-internas a {
  color: #115740;
}
header.header-internas a:hover {
  color: #115740;
  text-decoration: underline;
}
header.header-internas a:nth-of-type(1)/*Logotipo*/ {
  background: url("../img/logotipo-internas.png") 0 0 no-repeat;
  width: 129px;
  height: 77px;
  position: relative;
  float: left;
  margin: 0 0 0 5%;
  padding: 0;
}
header.header-internas span.separador {
  width: 2px;
  float: left;
  height: 36px;
  background: rgba(0, 0, 0, 0.2);
  border-right: 1px solid #115740;
  margin: 0 0 0;
  display: block;
}
header.header-internas div.ingreso-cont {
  float: right;
  margin: 0 5% 0 0;
}
header.header-internas div.bienvenida/*Bienvenida*/ {
  float: right;
  margin: 1.5em 1em 0 0;
  text-align: right;
  color: #115740;
}
header.header-internas div.bienvenida span {
  font-weight: bold;
}
header.header-internas div.ingreso {
  margin: 0.8em 0 0;
  float: right;
}
header.header-internas div.ingreso a {
  margin: 0.3em 0 0 1em;
  float: left;
  display: block;
  width: 100px;
  height: 30px;
  line-height: 28px;
  text-align: center;
}
header.header-internas div.ingreso a:nth-of-type(1)/*Ingresar*/ {
  background: url("../img/sprite.png") 0.5em -661px no-repeat;
}
header.header-internas div.ingreso a:nth-of-type(2)/*Registrase*/ {
  background: url("../img/sprite.png") 0.1em -686px no-repeat;
}
header.header-internas div.social {
  margin: 0.8em 0 0 1em;
  width: 58px;
  height: 44px;
  float: right;
  background: url("../img/sprite.png") 1px -607px no-repeat;
}
header.header-internas div.social-internas {
  margin: 0.8em 5% 0 0;
  width: 79px;
  height: 63px;
  float: right;
  border: 1px solid red;
  background: url("../img/sprite.png") 0em -347px no-repeat;
}
header.header-internas div.social a, header div.social-internas a {
  width: 23px;
  height: 23px;
  display: block;
}
header.header-internas div.social a:nth-of-type(1), header div.social-internas a:nth-of-type(1)/*facebook*/ {
  float: left;
  background: none;
}
header.header-internas div.social a:nth-of-type(2), header div.social-internas a:nth-of-type(2)/*twitter*/ {
  float: right;
  background: none;
}
/* HEADER INTERNAS */

/* MENÚ */

nav {
  position: absolute;
  bottom: 80px;
  width: 1000px;
  left: 50%;
  margin: 0 0 0 -500px;
}
ul.menu-home {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 99;
}
ul.menu-home li {
  width: 130px;
  height: 145px;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 99999;
}
ul.menu-home li a {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 5em;
  -moz-border-r5adius: 5em;
  border-radius: 5em;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  border: 5px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  font-size: 1.6em;
  color: #115740;
  text-align: center;
  padding: 40px 0px 0;
  line-height: 1.1em;
  cursor: pointer;
  position: relative;
  z-index: 99999;
  transition: all 0.3s;
  font-weight: bold;
  margin: 10px auto 0;
  font-family: 'SegoeUIRegular';
}
ul.menu-home li a:hover {
  width: 135px;
  height: 135px;
  background: rgba(0, 0, 0, 0.3);
  border: 5px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  color: white;
  padding: 43px 0px 0;
  margin: 0px auto 0;
  font-size: 1.8em;
}
nav li:nth-of-type(2) {
  border: 1px solid red;
}
.bx-wrapper {
  position: relative;
  margin: 0 auto 0px;
  padding: 0;
 *zoom: 1;
}
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 0px #cccccc;
  -webkit-box-shadow: 0 0 0px #cccccc;
  box-shadow: 0 0 0px #cccccc;
  border: none;
  left: 0px;
  background: transparent;
}
nav .bx-wrapper .bx-prev, nav .bx-wrapper .bx-next {
  display: none;
}
ul.slider-home {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
}
ul.slider-home li {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.slider-home li article {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.slider-home div.texto {
  position: absolute;
  top: 200px;
  left: 0px;
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: white;
}
.slider-home div.texto span {
  padding: 50px 0 0;
  font-size: 30px;
  display: block;
}
.slider-home img {
  height: 500px;
  position: absolute;
  right: 0px;
  top: 30px;
}
.slider-home .bx-wrapper .bx-prev, .slider-home .bx-wrapper .bx-next {
  display: none;
}
/* MENÚ */

/* MENÚ INTERNAS*/

div.menu-internas {
  width: 35px;
  position: absolute;
  left: 5%;
  top: 15%;
  z-index: 9999;
}
div.menu-internas div {
  margin: 0 0 10px;
  padding: 0;
  position: relative;
}
div.menu-internas div a {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 5em;
  -moz-border-r5adius: 5em;
  border-radius: 5em;
  position: relative;
  cursor: pointer;
  z-index: 999;
  background: white;
  border: 5px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  opacity: 1;
  transition: all 1s;
  display: block;
}
div.menu-internas div a:hover {
  background: #ffa300;
  border: 5px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
}
div.menu-internas div div.tooltip {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 25px;
  width: auto;
  float: left;
  line-height: 25px;
  background: white;
  color: #615f5a;
  font-size: 1.4em;
  top: 5px;
  left: 28px;
  text-indent: 5px;
  -webkit-border-radius: 0 0.5em 0.5em 0;
  -moz-border-r5adius: 0 0.5em 0.5em 0;
  border-radius: 0 0.5em 0.5em 0;
  padding: 0 10px 0 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
div.menu-internas div div.tooltip:before {
  left: -14px;
  top: 0px;
  content: " ";
  height: 25px;
  width: 14px;
  position: absolute;
  pointer-events: none;
  background: url("../img/fondo-tooltip.png") 0 0 no-repeat;
}
/* MENÚ INTERNAS*/

/* FOOTER */

footer {
  width: 100%;
  height: 65px;
  background: url("../img/fondo-footer.png");
  position: absolute;
  bottom: 0;
  z-index: 999;
  color: white;
  font-family: 'allerregular';
  font-size: 1.4em;
}
a.slide-up {
  width: 29px;
  height: 14px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  background: url("../img/slide-footer.png") bottom center no-repeat;
}
a.slide-down {
  width: 29px;
  height: 14px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  background: url("../img/slide-footer-2.png") bottom center no-repeat;
}
footer .logotipo {
  margin: 5px auto 0;
  width: 121px;
  height: 41px;
  background: url("../img/logo-footer.png");
  text-align: center;
}
footer ul {
  margin: 5px auto 0;
  padding: 0;
  width: 34%;
}
footer ul li {
  float: left;
  margin: 0;
  padding: 0;
}
footer ul li a {
  padding: 0 10px;
  color: white;
}
footer ul li a:hover {
  color: #ffa300;
  text-decoration: underline;
}
footer ul li.separador {
  width: 3px;
  float: left;
  height: 19px;
  background: rgba(0, 0, 0, 0.2);
  border-right: 1px solid white;
  margin: 0 0 0;
  display: block;
}
footer p {
  margin: 0px auto;
  padding: 5px 0 0;
  width: 44%;
  clear: both;
  font-size: 1em;
  text-align: center;
  color: white;
  font-family: 'allerregular';
}
.footer-ahorranito {
  margin: 0px auto;
}
/*MODALES*/

div.ingreso-modal {
  width: 360px;
  height: 32em;
  left: 50%;
  top: -2000px;
  margin: 0 0 0 -180px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
div.directorio-modal {
  width: 600px;
  right: -2000px;
  top: 15%;
  margin: 0 -300px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
div.participar-modal {
  width: 300px;
  right: -2000px;
  top: 15%;
  margin: 0 -150px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2em;
  text-align: center;
  z-index: 9999;
}
div.agregar-modal {
  width: 300px;
  right: -2000px;
  top: 15%;
  margin: 0 -150px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2em;
  text-align: center;
  z-index: 9999;
}
div.politicas-modal {
  width: 400px;
  right: -2000px;;
  top: 15%;
  margin: 0 -200px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2em;
  text-align: center;
  z-index: 9999;
}
div.terminos-modal {
  width: 400px;
  right: -2000px;
  top: 15%;
  margin: 0 -200px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2em;
  text-align: center;
  z-index: 9999;
}
div.olvido-modal {
  width: 360px;
  height: 250px;
  left: 50%;
  top: 40%;
  left: -2000px;
  margin: -105px 0 0 -170px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
div.registro-modal {
  width: 500px;
  height: 360px;
  padding: 0 20px 0 20px;
  left: 50%;
  top: -2000px;
  margin: 0 0 0 -300px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  z-index: 9999;
}
div.actualizar-modal {
  width: 400px;
  right: -2000px;
  top: 15%;
  margin: 0 -200px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2em;
  text-align: center;
  z-index: 9999;
}
.close-modal {
  width: 52px;
  height: 53px;
  position: absolute;
  top: -25px;
  right: -30px;
  background: url("../img/sprite.png") 0em -125px no-repeat;
}
div.articulo-modal {
  width: 400px;
  right: -2000px;
  top: 15%;
  margin: 0 -200px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2em;
  text-align: center;
  z-index: 9999;
}
div.mapa-modal {
  width: 400px;
  height: 500px;
  right: -2000px;
  top: 15%;
  margin: 0 -200px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2em;
  text-align: center;
  z-index: 9999;
}
div.reportar-modal {
  width: 400px;
  right: -2000px;
  top: 15%;
  margin: 0 -200px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
div.conoce-modal {
  width: 400px;
  right: -2000px;
  top: 15%;
  margin: 0 -200px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
div.tusarticulos-modal {
  width: 600px;
  right: -2000px;
  top: 15%;
  margin: 0 -300px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
div.contactar-modal {
  width: 600px;
  right: -2000px;
  top: 15%;
  margin: 0 -300px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  -webkit-border-radius: 1em;
  -moz-border-r5adius: 1em;
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.close-modal {
  width: 52px;
  height: 53px;
  position: absolute;
  top: -25px;
  right: -30px;
  background: url("../img/sprite.png") 0em -125px no-repeat;
}
.close-modal:hover {
  background: url("../img/sprite.png") 0em -180px no-repeat;
}
.overlay-top {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9998;
  top: -2000px;
}
.overlay-left {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9998;
  left: -2000px;
  top: 0px;
  cursor: pointer;
}
.overlay-bot {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9998;
  bottom: -2000px;
}
/*MODALES*/

/*FORMULA MEDICA*/

.medicamentos {
  border-bottom: 1px solid #bbbbbb;
  padding: 0 0 5px;
  margin: 0 0 5px;
  position: relative;
  height: 30px;
  overflow: none;
}
.medicamentos .capsulas {
 width: 100%  
 height: 25px;
  font-size: 1.4em;
  color: #115740;
  position: absolute;
  right: 31%;
  bottom: -40px;
  opacity: 0;
  font-weight: bold;
}
.medicamentos p {
  padding: 0;
  margin: 0;
  float: left;
  width: 68%;
  opacity: 1;
  cursor: pointer;
}
.medicamentos p:hover {
  font-weight: bold;
}
.medicamentos-opciones {
  float: right;
  margin: 0;
  width: 30%;
}
.medicamentos-opciones a {
  margin: 0 5px 0;
  display: inline-block;
}
.medicamentos-opciones a {
  color: #115740;
  font-size: 1.2em;
  text-decoration: none;
}
.medicamentos-opciones a:hover {
  color: #ffa300;
}
.medicamentos-opciones a:active {
  margin: 1px auto 0;
}
/*FORMULA MEDICA*/

/* DIRECTORIO MEDICO */

.contador {
  text-align: center;
}
.contador img {
  height: 400px;
}
.directorio-modal, .reportar-modal, .conoce-modal, .tusarticulos-modal, .contactar-modal {
  padding: 2em;
}
.contactar-modal p {
  float: right;
  width: 60%;
}
.directorio-modal img, .contactar-modal img {
  -webkit-border-radius: 100em;
  -moz-border-r5adius: 100em;
  border-radius: 100em;
  float: left;
  width: 20em;
  height: 20em;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.5);
  border: 1em solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}
form.filtro-directorio {
  width: 90%;
  margin: 0 auto;
}
form.filtro-directorio label {
  width: 55%;
  text-align: right;
  padding: 0 2em 0 0;
  font-weight: bolder;
}
form.filtro-directorio select {
  width: 45%;

}
div.foto-medico {
  border: 2px solid #ffa300;
  overflow: hidden;
  position: relative;
  height: 14em;
  -webkit-border-radius: 0.8em;
  -moz-border-r5adius: 0.8em;
  border-radius: 0.8em;
  margin: 0 1em 1em 0em;
  width: 31.1%;
  float: left;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
div.foto-medico:hover {
  border: 2px solid #115740;
}
div.foto-medico:active {
  border: 2px solid #115740;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
div.foto-medico img {
  width: 100%;
  z-index: 1;
  -webkit-border-radius: 0.6em;
  -moz-border-r5adius: 0.6em;
  border-radius: 0.6em;
  opacity: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
div.over-perfil-medico {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4em;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  width: 100%;
  padding: 0.5em 0.2em;
}
div.over-perfil-medico p, div.info-perfil-medico p {
  color: white;
  padding: 0;
  margin: 0;
}
div.over-perfil-medico p:nth-of-type(1) {
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
}
div.over-perfil-medico p:nth-of-type(2) {
  font-size: 1em;
}
div.info-perfil-medico {
  position: absolute;
  top: 5px;
  right: -100px;
  width: 36px;
  height: 36px;
  opacity: 0;
  background: url("../img/icono-lupa.png") 0em 0em no-repeat;
}
div.info-perfil-medico p {
  font-size: 1em;
  border-bottom: thin dotted white;
  padding: 0.5em;
}
.col-perfil-medico {
  width: 30%;
  float: left;
  margin: 0 0 0 1em;
}
ul.paginacion {
  height: 3em;
  margin: 0.5em 1em 0 0;
  text-align: center;
  float: right;
  padding: 0;
}
ul.paginacion li {
  display: inline-block;
 *zoom: 1;
 *display: inline;
}
ul.paginacion li a {
  background: white;
  text-align: center;
  color: #115740;
  font-size: 1.2em;
  display: block;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  margin: 0 0.2em;
  outline: 0;
  -webkit-border-radius: 5em;
  -moz-border-r5adius: 5em;
  border-radius: 5em;
  font-family: 'allerregular';
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  cursor: pointer;
}
ul.paginacion li a:hover {
  background: #ffa300;
}
ul.paginacion li a.active {
  background: #ffa300;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
/* DIRECTORIO MEDICO */

/* TIPSY RECETAS */

.receta-descripcion {
  width: 99%;
  min-height: 1em;
  overflow: hidden;
  padding: 0em 1em 0.7em 0em;
  margin: 0 0 1.3em;
  cursor: pointer;
  z-index: 99;
  dispplay: block;
}
.fondo-tips {
  margin: 0 0 0 20px;
}
a.receta-descripcion img {
  -webkit-border-radius: 100em;
  -moz-border-r5adius: 100em;
  border-radius: 100em;
  float: right;
  width: 10em;
  height: 10em;
  margin: -3em 0 1em;
  padding: 0;
  background: rgba(255, 255, 255, 0.5);
  border: 5px solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  transition: all 0.5s;
}
a.receta-descripcion p {
  float: left;
  margin: 0.5em 0 0 0;
  width: 72%;
}
.fondo-receta {
  background: white;
  padding: 1em 1em 0;
  -webkit-border-radius: 0.8em;
  -moz-border-r5adius: 0.8em;
  border-radius: 0.8em;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  margin: 0 0 0 2em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.fondo-articulos {
  background: white;
  padding: 1em 1em 0;
  -webkit-border-radius: 0.8em;
  -moz-border-r5adius: 0.8em;
  border-radius: 0.8em;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  margin: 0 0 0 0em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
a.receta-descripcion:hover img {
  background: rgba(255, 255, 255, 0.5);
  border: 5px solid rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
}
.fondo-receta:active {
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
}
h2.ribon-slider {
  color: white;
  height: 36px;
  float: left;
  width: auto;
  padding: 0 1em 0 0;
  position: absolute;
  line-height: 36px;
  text-indent: 10px;
  margin: 1em 0 0 0em;
  font-size: 18px;
  background: #1b232a;
  z-index: 99;
  font-family: 'allerregular';
  -webkit-border-radius: 0 1em 1em 0;
  -moz-border-r5adius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0;
  font-weight: normal;
  opacity: 1;
}
h2.ribon-slider:before {
  left: -13px;
  top: 0px;
  content: " ";
  height: 51px;
  width: 13px;
  position: absolute;
  pointer-events: none;
  background: url("../img/fondo-ribon-negro.png") 0 0 no-repeat;
  opacity: 1;
}
#fb-root, .fb-like {
  background: transparent !important;
}
ul.slider-recetas, ul.slider-tusarticulos {
  width: 100%;
  height: 16em;
  position: relative;
  z-index: 1;
  margin: 0;
  top: 0;
  padding: 0;
  opacity: 1;
}
ul.slider-recetas li, ul.slider-tusarticulos li {
  width: 100%;
  height: 16em;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
ul.slider-recetas img{
  width: 100%;
   height: 16em;
  -webkit-border-radius: 0.8em;
  -moz-border-r5adius: 0.8em;
  border-radius: 0.8em;
  border: 0.3em solid white;
}

ul.slider-tusarticulos img {width: 100%;
   height: 16em;
  -webkit-border-radius: 0.8em;
  -moz-border-r5adius: 0.8em;
  border-radius: 0.8em;
  border: 0.3em solid #115740;}


.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  padding-top: 0px;
  position: absolute;
  bottom: 1em;
  z-index: 99;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #115740;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ffa300;
}
.bx-wrapper .bx-pager {
  opacity: 1;
}
.tip, .formula {
  width: 100%;
  max-height: 70px;
  height: 70px;
  background: #2c2a29;
  padding: 1em;
  position: relative;
  margin: 0;
}
.tip p {
  color: white;
  font-size: 1.2em;
  padding: 0 0 0 5em;
}
.formula p {
  color: white;
  font-size: 1.2em;
  padding: 0 0 0 10em;
}
.compartir {
  float: right;
  position: relative;
  z-index: 99;
  width: 100%;
  text-align: right;
  height: 3em;
}
a.extender-btn {
  width: 3em;
  height: 3em;
  position: absolute;
  background: url("../img/sprite.png") 0em -42.9em no-repeat;
  right: .5em;
  top: .5em;
  z-index: 99;
  cursor: pointer;
}
a.extender-btn:hover {
  background: url("../img/sprite.png") 0em -47.1em no-repeat;
}
a.comprimir-btn {
  width: 3em;
  height: 3em;
  position: absolute;
  background: url("../img/sprite.png") 0em -51.5em no-repeat;
  right: .5em;
  top: .5em;
  z-index: 99;
  cursor: pointer;
}
a.comprimir-btn:hover {
  background: url("../img/sprite.png") 0em -55.7em no-repeat;
}
p.fecha {
  padding: 0.5em 0 0;
  margin: 0 0 0.5em;
  font-size: 1.2em;
  color: #115740;
}
h2.ribon-negro {
  color: white;
  height: 36px;
  float: left;
  width: auto;
  padding: 0 1em 0 0;
  position: relative;
  line-height: 36px;
  text-indent: 10px;
  margin: 0px 0 0 -.5em;
  font-size: 18px;
  background: #1b232a;
  font-family: 'allerregular';
  border-radius: 0 1em 1em 0;
  font-weight: normal;
}
h2.ribon-negro:before {
  left: -13px;
  top: 0px;
  content: " ";
  height: 51px;
  width: 13px;
  position: absolute;
  pointer-events: none;
  background: url("../img/fondo-ribon-negro.png") 0 0 no-repeat;
}
h2.ribon-verde {
  color: white;
  height: 30px;
  float: left;
  width: auto;
  padding: 0 1em 0 0;
  position: relative;
  line-height: 30px;
  text-indent: 10px;
  margin: 0px 0 0 -0.6em;
  font-size: 18px;
  background: #07523a;
  font-family: 'allerregular';
  -webkit-border-radius: 0 1em 1em 0;
  -moz-border-r5adius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0;
  font-weight: normal;
}
h2.ribon-verde:before {
  left: -11px;
  top: 0px;
  content: " ";
  height: 43px;
  width: 13px;
  position: absolute;
  pointer-events: none;
  background: url("../img/fondo-ribon-verde.png") 0 0 no-repeat;
}
h2.ribon-amarillo {
  color: white;
  height: 35px;
  float: left;
  width: auto;
  padding: 0 1em 0 0;
  position: relative;
  line-height: 35px;
  text-indent: 10px;
  margin: 0px 0 0 -0.5em;
  font-size: 18px;
  background: #f39200;
  color: #2c2a29;
  font-family: 'allerregular';
  -webkit-border-radius: 0 1em 1em 0;
  -moz-border-r5adius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0;
  font-weight: normal;
}
h2.ribon-amarillo:before {
  left: -10px;
  top: 0px;
  content: " ";
  height: 50px;
  width: 10px;
  position: absolute;
  pointer-events: none;
  background: url("../img/fondo-ribon-amarillo.png") 0 0 no-repeat;
}
.fondo-blanco {
  background: white;
  padding: 1em 1em 0;
  -webkit-border-radius: 0.8em;
  -moz-border-r5adius: 0.8em;
  border-radius: 0.8em;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
}


/* TIPSY RECETAS */

/* COLUMNAS */

.contendedor-left {
  float: left;
  background: blue;
  width: 400px;
}
.contendedor-right {
  float: left;
  background: red;
  width: 400px;
}
.colm-left {
  float: left;
  padding: 0;
  margin: 0;
  width: 48%;
  overflow: hidden;
}
.colm-right {
  float: right;
  padding: 0;
  margin: 0;
  width: 48%;
  overflow: hidden;
}
.colum-left {
  float: left;
  margin: 0;
  width: 45%;
  overflow: hidden;
  padding: 0;
}
.colum-right {
  float: right;
  margin: 0;
  width: 45%;
  overflow: hidden;
  padding: 0;
}

.col-left {
  float: left;
  margin: -2em 0 0;
  width: 50%;
}

.col-right {
  float: right;
  width: 50%;
  margin: -2em 0 0;
}
.fondos-left {
    background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 99;

}
.fondos-right {
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 99;


}


.mask-left {
  padding: 2em 2em 1em 20em;
  margin: 0em 0 0;
  min-height: 1000px;
  height: 100%;
  position: relative;
}
.mask-right {
  padding: 2em 20em 1em 2em;
  margin: 0em 0 0;
    height: 100%;
      min-height: 1000px;
  position: relative;
}


.col-left .mask-right {
  display: none;
}
.col-right .mask-left {
  display: none;
}
.vertical {
  height: 20000em;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.items {
  height: 20000em;
  margin: 0px;
  position: absolute;
  width: 100%;
}
.item {
  padding: 0;
  margin: 0;
}
.actions {
  display: none;
}
/* MENÚ*/

.menu-radial {
  position: fixed;
  left: -110px;
  top: 50%;
  margin: -125px 0 0 0;
  width: 246px;
  height: 250px;
  text-align: center;
  z-index: 99;
}
/*.radial_div_item {
}
.radial_div_item.active {
}*/

a.enlace-radial {
  color: white;
  text-align: center;
  background: #2c2a29;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5em;
  -moz-border-r5adius: 5em;
  border-radius: 5em;
  cursor: pointer;
  display: block;
  line-height: 50px;
  font-size: 1.4em;
}
a.enlace-radial:hover {
  text-decoration: underline;
}
a.show-menu, a.hide-menu {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5em;
  -moz-border-r5adius: 5em;
  border-radius: 5em;
  background: #115740;
  position: fixed;
  left: 2px;
  top: 46%;
  z-index: 100;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 4em;
}
.show-menu {
  background: #115740;
}
.hide-menu {
  background: #ffa300;
}
.prev-menu, .next-menu {
  display: none;
}
.nave {
  display: none;
}
.active {
  background: blue;
}
/* RESPONSIVE */

/*BOOTSTRAP*/

.container-fluid {
  padding: 0;
}
/**/
.ui-tabs {
  zoom: 1;
  margin: 5em 0 0 0;
}
.ui-tabs .ui-tabs-nav {
  list-style: none;
  position: relative;
  padding: 2px 2px 0;
  overflow: hidden;
  top: 1px;
  z-index: 1000;
  display: none;
}
.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  border: 1px solid #cccccc;
  border-bottom-width: 0 !important;
  margin: 0 2px -1px 0;
  background: #cccccc;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  text-decoration: none;
  padding: 5px 10px;
  color: black;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 1px;
  border-bottom-width: 0;
  background: white;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel {
  padding: 2em;
  display: block;
  border-width: 0;
  background: none;
  position: relative;
  height: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0.5em;
  -moz-border-r5adius: 0.5em;
  border-radius: 0.5em;
  background: #fdfcfc;
  background-image: -webkit-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -moz-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -o-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: -ms-linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  margin: 0 0 1em;
  z-index: 999;
}
.ui-tabs .ui-tabs-hide {
  display: none !important;
}
a.mover, .mover {
  position: absolute;
  color: white;
  font-weight: bold;
  text-decoration: none;
  z-index: 99;
}
.next-tab {
  bottom: 1em;
  right: 1.5em;
}
.prev-tab {
  bottom: 1em;
  left: 1.5em;
}
a.mover, .mover {
  font-family: 'SegoeUIRegular';
  background: #ffa300;
  transition: all 0.5s;
  color: white;
  height: 2.2em;
  display: inline-block;
  padding: 0 1.0em;
 *display: inline;
  margin-bottom: 0;
 *margin-left: .3em;
  font-size: 1.4em;
  line-height: 2.0em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
 *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
 *zoom: 1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
a.mover:hover, .mover:hover {
  background: #115740;
}
a.mover:active, .mover:active {
  margin-top: 0.1em;
}
a.actualizar {
  color: #fff;
  position: relative;
  display: block;
  text-indent: 1.2em;
  line-height: 1.4em;
  font-size: 1.4em;
}
a.actualizar:before {
  left: 0px;
  top: .3em;
  vertical-align: middle;
  content: " ";
  height: .8em;
  width: .8em;
  position: absolute;
  pointer-events: none;
  background: #115740;
  border-radius: 50%;
}
a.actualizar:hover {
  color: #fff;
  text-decoration: underline;
}
a.actualizar:hover:before {
  background: #ffa300;
}
a.contactar, a.articulo {
  color: #115740;
  position: relative;
  display: block;
  text-indent: 1.2em;
  line-height: 1.4em;
  font-size: 1.4em;
}
a.contactar:before, a.articulo:before {
  left: 0px;
  top: .3em;
  vertical-align: middle;
  content: " ";
  height: .8em;
  width: .8em;
  position: absolute;
  pointer-events: none;
  background: #115740;
  border-radius: 50%;
}
a.contactar:hover, a.articulo:hover {
  text-decoration: underline;
}
a.contactar:hover:before, a.articulo:hover:before{
  background: #ffa300;
}
a.actualizar:active, a.contactar:active, a.articulo:active {
  top: .05em;
  background: none;
}
.fondo-scroll {
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
}
.fondo-scroll h3 {
  color: #115740;
}
.mask-left .circulo {
  -webkit-border-radius: 1000em;
  -moz-border-r5adius: 1000em;
  border-radius: 1000em;
  float: right;
  margin: 50px -190px 0 0;
}
.mask-right .circulo {
  -webkit-border-radius: 1000em;
  -moz-border-r5adius: 1000em;
  border-radius: 1000em;
  margin: 50px 0 0 -190px;
  float: left;
}
.circulo {
  background: #07523a;
  height: 340px;
  width: 340px;
  padding: 60px 50px 50px;
  text-align: center;
}
.circulo p {
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}
.amarillo {
  background: #ffa300;
}
.mask-left .botones-miplan {
  width: 200px;
  height: 50px;
  float: right;
  position: relative;
  margin: 20px -120px 0px 0;
  z-index: 9999;
}
.mask-right .botones-miplan {
  width: 200px;
  height: 50px;
  float: left;
  margin: 20px 0px 0 -115px;
  z-index: 999;
}
.test {
  width: 100%;
  height: 100%;
  background: red;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.dieta-left {
  position: absolute;
  height: 100%;
  z-index: 1;
}
.dieta-right {
  position: absolute;
  height: 100%;
  z-index: 2;
}
div.boton-dieta {
  height: 35px;
  width: 35px;
  position: absolute;
  z-index: 99999;
  background: blue;
  opacity: 0;
}
a.boton-dieta {
  border-radius: 5em;
  background: white;
  border: 5px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  display: block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 9998;
  margin: 19% 0 0 10%;
  opacity: 0;
  transition: all 1s;
}
a.boton-dieta:hover {
  background: #ffa300;
  border: 5px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
}
.dieta-show {
opacity: 0;
z-index: 1;
}
.rutina-show {
opacity: 0
z-index: 2;

}
.mask-left .botones-ciudad {
  width: 75px;
  height: 50px;
  float: right;
  position: relative;
  margin: 20px 0px 0px 0;
  z-index: 9999;
}
.mask-right .botones-ciudad {
  width: 75px;
  height: 50px;
  float: left;
  margin: 20px 0px 0 0px;
  z-index: 999;
}
.mapa-modal ul {
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 0 auto 0;
  text-align: center;
  font-size: 16px;
}
.mapa-modal ul li {
  padding: 0 0 10px;
}
.mapa-modal ul li a {
  color: #115740;
  transition: all 0.5s;
}
.mapa-modal ul li a:hover {
  color: #ffa300;
  text-decoration: underline;
}
.cverde {
  color: #115740;
}
.noregistrado {
  padding: 2em;
  text-align: center;
}
.noregistrado p {
  padding: 2em;
  text-align: center;
}
.nopad p {padding: 0;
}

.miperfil-img {position: relative;
}

.miperfil-img img { width: 200px;
height: 200px;
border-radius: 50%;
border: 1em solid rgba(255, 255, 255, 0.3);
background-clip: padding-box;
opacity: 1;
transition: all .5s;
}

.miperfil-img img:hover {
  border: 1em solid rgba(255, 255, 255, 0.5);
}


.miperfil-img span { 
width: 3em;
height: 3em;
line-height: 3em;
color: #fff;
font-size: 1.8em;
background: #ffa300;
border-radius: 50%;
position: absolute;
top: 0;
right: 1em;
text-align: center;
transition: all .5s;
}

.miperfil-img:hover span { 
  background: #115740;

}

.miperfil-info { 
width: 200px;
height: 200px;
border-radius: 50%;
background: rgba(255,255,255,.8)
border: 1em solid rgba(255, 255, 255, 0.3);
background-clip: padding-box;
opacity: 0;
}



.customfile-wrap {
  position: relative;
  padding: 0;
}

.customfile-filename,
.customfile-upload { 
  margin: 0;
  padding: 0;
}

.customfile-filename {
 
}
.customfile-filename:focus { 
  outline: none;
}

.customfile-upload {
padding: 0 1em;
  height: 2.3em;
  border: thin solid #ccc;
  color: #615f5a;
  font-size: 1.3em;
  background: #ddd;
  border-radius: 0 .4em .4em 0;
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 0em;
  text-align: center;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #e9e9ce 100%);
  transition: all .5s;
}

.customfile-upload:hover {
  background: #fafafa;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}
.customfile-upload::-moz-focus-inner { 
  padding: 0; 
  border: 0 
}

/*
* Placeholders consistency
* */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #615f5a;
font-size: 1em;
  font-family: 'allerregular';
  text-indent: .5em;

}
input:-moz-placeholder, textarea:-moz-placeholder {
color: #615f5a;
font-size: 1em;
  font-family: 'allerregular';
  text-indent: .5em;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #615f5a;
font-size: 1em;
  font-family: 'allerregular';
 text-indent: .5em;
}

.conoce-modal img { }

div.modal-horizontal {
  width: 600px;
  right: -2000px;
  top: 15%;
  margin: 0 -300px 0 0px;
  position: absolute;
  background: #fdfcfc;
  background-image: linear-gradient(180deg, #fdfcfc 30%, #f3f1f1 70%);
  border-radius: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  z-index: 9999;
}


.w100 { width: 100%;


}

.w50 { width: 40%;
  float: left;
}

ul.lista { position: relative;
padding: 0;
margin: 0;} 

ul.lista li { 
padding: 0;
margin: 0 0 .5em;
  font-size: 1.4em;
  text-indent: 1em;
  color: #615f5a;
position: relative;} 

ul.lista li:before { 
  left: 0px;
  top: .5em;
  vertical-align: middle;
  content: " ";
  height: .5em;
  width: .5em;
  position: absolute;
  pointer-events: none;
  background: #115740;
  border-radius: 50%;}

  .phone { background: url("../img/sprite.png") 0 -720px no-repeat;
    text-indent: 1.5em;
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 0 0 0 2.5em;
}